:root {
  /* Holding for Vars later */
  --layout_border: black thin solid;
  --layout_color_one: #ffb266;
  --layout_color_two: #66b2ff;
  --layout_color_three: #ff6666;
  --button_color: #530d8d;
  --button_color_hover: #320855;
  --h1_margin: 2em;
  --h1_padding: 1em;
}

html {
  font-family: "Courier New", Courier, monospace;
}

header .left_side {
  position: absolute;
  top: 15px;
  left: 15px;
}

header .right_side {
  position: absolute;
  top: 15px;
  right: 15px;
}

h1 {
  font-weight: bolder;
}

main {
  width: 80%;
  margin: auto;
  padding-top: 5em;
  text-align: center;
  font-size: large;
}

.main_highscores_wrapper h1 {
  border-bottom: var(--layout_border);
  margin-bottom: var(--h1_margin);
  padding-bottom: var(--h1_padding);
}

.main_highscores_wrapper ol {
  border-bottom: var(--layout_border);
  padding-bottom: 3em;
}

.hidden {
  display: none;
}

button {
  background-color: var(--button_color);
  border: none;
  color: white;
  border-radius: 8px;
  /* padding: 20px 40px; */
  font-family: "Courier New", Courier, monospace;
  font-size: large;
  font-weight: bold;
  height: 65px;
  width: 250px;

  letter-spacing: 0.2em;
}

button:hover {
  background-color: var(--button_color_hover);
  font-weight: bold;
  box-shadow: 0px 0px 5px 5px rgba(50, 8, 85, 0.8);
}

.main_highscores_wrapper button {
  margin: 1em;
}

.question_choice button:hover {
  background-color: var(--button_color_hover);
  font-weight: bold;

  /*  
  There is an issue here. this is not being applied to the dynamic buttons
  
  */
}

#question_title {
  padding-bottom: 2em;
  border-bottom: var(--layout_border);
  font-weight: bolder;
}

#question_choices {
  margin-top: 2em;
}

.question_choice {
  height: 50px;
  width: auto;
  margin: 1em;
  padding: 0.5em;
}

#question_result {
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
  width: 23%;
  padding-top: 3em;
  font-weight: bold;
  border-top: var(--layout_border);
}

#score_list {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
